<h1>List of Vehicles:</h1></br>

<ul>
<% @vehicles.each do |vehicle| %>
    <li>
    <%= link_to  vehicle.year.to_s + ' ' + vehicle.make + ' ' + vehicle.model, "/vehicles/#{vehicle.id}" %>
    </li>
<% end %>
</ul>
