<!DOCTYPE html>
<html>
  <head>
    <title>FlatironMotorsReloaded</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application.css', media: 'all' %>
  </head>

  <body>

  <ul>
  <li><a href="/vehicles">Browse Cars</a></li>
  <li><a href="/buyers/new">Sign Up</a></li>
  <li><a href="/login">Log In</a></li>

</ul>
    <%= yield %>
  </body>
</html>
